@font-face {
    font-family: logofont;
    src: url("/media/fonts/logo.ttf");
}
body{
    background-color: antiquewhite;
}
nav{
    height: 8vh;
}
.root{
    height: 100vh;
    width: 100vw;
}
.navimg{
    max-height: 8vh;
    padding: 7px;
}
.profileimg{
    height: 8vh !important;
    width: 8vh !important;
    padding: 0 !important;
    box-shadow: none;
    margin-right: 15px;
}
.brand-logo{
    text-shadow: 
    -1px -1px pink,
    1px -1px pink,
    1px 1px pink,
    2px 1px pink,
    2px 2px pink,
    3px 2px pink,
    3px 3px pink,
    4px 3px pink,
    4px 4px pink,
    5px 4px pink,
    5px 5px pink;
    margin-left: 25px;
    line-height: 7vh !important;
    font-size: 6vh !important;
    font-family: logofont;
}
.mainbody{
    padding: 5vh;
    height: 92vh;
    max-height: 92vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainbody .video-js, .offlinep{
    width: 60%;
    height: 70%;
}
.offlinep{
    height: 5%;
    width: 100%;
    font-family: logofont;
    font-size: 12vh;
    line-height: 1vh !important;
    color: white;
    text-shadow: 
    -1px -1px pink,
    1px -1px pink,
    1px 1px pink,
    2px 1px pink,
    2px 2px pink,
    3px 2px pink,
    3px 3px pink,
    4px 3px pink,
    4px 4px pink,
    5px 4px pink,
    5px 5px pink;
}
.banner{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5c9;
    border-radius: 0 0 2em 2em;

}
.banner_p{
    height: 100%;
    width: 100%;
    padding: 5px;
}
.banner_i{
    object-fit: cover;
    height: 15vh;
    width: 15vh;
    margin: 15px;
}

.rounded{
    border-radius: 2em;
}

.searchbar{
    width: 30%;
    margin-left: 35% !important;
    display: inline-block;
}

.searchbar_t{
    background-color: #ffffffc7 !important;
    padding: 2px !important;
    padding-left: 2vh !important;
    margin-top: 1.5vh !important;
    border-radius: 20px !important;
}
::placeholder{
    color: black;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    box-shadow: none !important;
    border-bottom: none !important;
}
.input-field .prefix.active {
    color: #ffffff;
}